@use 'var';
@use 'fn';

body {
  font-family: var.$font-family;
  line-height: 1.3;
  font-weight: 400;
  font-size: var.$root-fz;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  padding: 0px 20px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
}

.page {
  // .page__feedback-form
  flex: 1 1 auto;

  &__feedback-form {
  }
}
.feedback-form {
  // .feedback-form__container

  &__container {
    max-width: 531px;
  }

  // .feedback-form__main

  &__main {
  }

  // .feedback-form__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // .feedback-form__group

  &__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  // .feedback-form__label

  &__label {
    font-size: 14px;
    font-weight: 700;
  }

  // .feedback-form__input

  &__input {
    font-size: fn.clampBuilder(14, 16);
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid var.$light-gray;
    transition: border-color 0.3s, box-shadow 0.3s;
    &:focus {
      border-color: var.$light-blue;
      box-shadow: var.$first-shadow;
    }
  }

  // .feedback-form__textarea

  &__textarea {
    font-size: fn.clampBuilder(14, 16);
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid var.$light-gray;
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: none;
    min-height: 128px;
    &:focus {
      border-color: var.$light-blue;
      box-shadow: var.$first-shadow;
    }
  }

  // .feedback-form__button

  &__button {
    border: 1px solid var.$dark-black;
    background-color: var.$dark-black;
    color: var.$white;
    line-height: 1.5;
  }

  // .feedback-form__title

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: fn.clampBuilder(27, 32);
  }

  // .feedback-form__description

  &__description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: var.$gray;
  }
}
