@use 'var';
@use 'fn';

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var.$font-family;
  line-height: 1.3;
  font-weight: 400;
  font-size: var.$root-fz;
  scrollbar-gutter: stable;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  padding: 0px 20px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
  line-height: 1.5;

  &_black {
    border: 1px solid var.$dark-black;
    background-color: var.$dark-black;
    color: var.$white;
  }
  &_red {
    border: 1px solid var.$error;
    background-color: var.$error-dark;
    color: var.$white;
  }
}

.page {
  flex: 1 1 auto;

  // .page__modal-block

  &__modal-block {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
}

.feedback-form {
  // .feedback-form__container

  &__container {
    max-width: 531px;
  }

  // .feedback-form__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: fn.clampBuilder(19, 24);
  }

  // .feedback-form__group

  &__group {
    display: flex;
    flex-direction: column;
    gap: fn.clampBuilder(14, 16);
  }

  // .feedback-form__label

  &__label {
    font-size: 14px;
    font-weight: 700;
  }

  // .feedback-form__field

  &__field {
    font-size: fn.clampBuilder(14, 16);
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid var.$light-gray;
    transition: border-color 0.3s, box-shadow 0.3s;
    &:focus {
      border-color: var.$light-blue;
      box-shadow: var.$first-shadow;
    }
    &_valid {
      border-color: var.$valid;
    }
    &_invalid {
      border-color: var.$error;
    }
  }

  // .feedback-form__textarea

  &__textarea {
    resize: none;
    min-height: 128px;
  }

  // .feedback-form__title

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: fn.clampBuilder(27, 32);
  }

  // .feedback-form__description

  &__description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: var.$gray;
  }

  // .feedback-form__field-error

  &__field-error {
    color: var.$error;
    font-size: 14px;
  }

  // .feedback-form__message-container

  &__message-container {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_success {
      background-color: var.$valid-light;
      color: var.$valid-dark;
      border: 1px solid var.$valid-light;
    }

    &_error {
      background-color: var.$error-light;
      color: var.$error-dark;
      border: 1px solid var.$error-light;
    }
  }
  // .feedback-form__message-title

  &__message-title {
    font-weight: 700;
    font-size: fn.clampBuilder(15, 18);

    &_error {
      color: var.$error;
    }
    &_success {
      color: var.$valid;
    }
  }

  // .feedback-form__close-button

  &__close-button {
    align-self: flex-end;
  }

  // .feedback-form__spinner

  &__spinner {
    display: none;
    justify-content: center;
    & img {
      width: 50px;
      height: 50px;
    }
    &_active {
      display: flex;
    }
  }
}

.modal-block {
  // .modal-block__modal

  &__modal {
    margin: auto;
    padding: 0;
  }
}

.modal {
  position: fixed;
  max-width: calc(100% - 2em - 6px);
  max-height: calc(100% - 2em - 6px);
  visibility: visible;
  overlay: auto;
  display: block;
  inset: 0;
  z-index: var.$z-index-max;
  overflow: hidden;
  transition: opacity 0.5s;
  animation: scale-down 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  max-inline-size: min(90vw, 60ch);
  max-block-size: min(80vh, 100%);

  &[open] {
    animation: slide-in-up cubic-bezier(0.25, 0, 0.3, 1) 0.5s forwards;
  }

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 0.8);
    backdrop-filter: blur(7px);
  }

  // .modal__inner

  &__inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 25px;
  }

  // .modal__title

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: fn.clampBuilder(27, 32);
    text-align: center;
  }

  // .modal__text

  &__text {
    text-align: center;
  }

  // .modal__close-button

  &__close-button {
    align-self: flex-end;
  }
}

.block-scroll {
  overflow: hidden;
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}
