$light-gray: #c2c6d0;
$light-blue: #007bff;
$dark-black: #191a20;
$white: #fff;
$gray: #7f8393;
$error: #f04438;
$success: #38c172; 

$first-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

$font-family: 'Inter', sans-serif;
$root-fz: 16px;
