$light-gray: #c2c6d0;
$light-blue: #007bff;
$dark-black: #191a20;
$white: #fff;
$gray: #7f8393;
$error: #f04438;
$error-dark: #a52c24;
$error-light: #f8d7da;
$valid: #38c172;
$valid-dark: #2a8b54;
$valid-light: #d4edda;

$first-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

$font-family: 'Inter', sans-serif;
$root-fz: 16px;
